.li {
    font-weight: bold;
    transition: 0.2s;
}

.img {
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%);
    margin-left: -10%
}

.button_recarga {
    background-color: #00416B;
    font-weight: bold;
    color: #FFF;
    border-radius: 25px;
    padding: 7px 28px;
    margin-right: 5vw;
}

.li:hover {
    color: #00416B;
    cursor: pointer;
}

@media (min-width: 768px) { 
    .img {
        margin-left: -2%
    }

    .button_recarga {
        margin-right: 2vw;
    }

 }